site_name: Daniel Wilczak - Tutorials
repo_url: https://github.com/sfc-gh-dwilczak/tutorials/
edit_uri: edit/main/docs/

theme:
  name: material
  logo: assets/logo.png
  custom_dir: material/overrides
  features:
    - navigation.tabs
    - content.code.select
    - content.code.copy
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - navigation.sections
    
  palette: 
    # Palette toggle for light mode
    - scheme: slate
      primary: blue
      accent: indigo
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: default
      primary: blue
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

nav:
  - Home: index.md

  - Account:
    -  Configurations:
      -   Add account to Org: account/configurations/add/index.md
      -   Change Edition Level: account/configurations/service_level/index.md
      -   Org / Account name: account/configurations/name/index.md
    -  Support:
      -   Ticket: account/support/index.md
    -  Backup / Migration:
      -   Replication: account/backup/replication/index.md

  - AI / ML:
    -  Snowflake Intelligence:
      -   Cortex Analyst: science/analyst/index.md
    -  Models:
      -   Registry: science/models/registry/index.md
    -  Notebooks:
      -   Intro to Containerized : science/notebooks/containers/index.md
      -   Intro to Local Jupyter: science/notebooks/jupyter/index.md

  - Apps:
    -  Container Services:
      -   Flask: apps/container/flask/index.md
      -   Streamlit: apps/container/streamlit/index.md
    -  Native App:
      -   Container Services: apps/native/containers/index.md
      -   Traditional: apps/native/traditional/index.md

  - Clouds:
    -  AWS:
      -   S3: clouds/aws/s3/index.md
      -   S3 with Key/Secret: clouds/aws/S3_key_and_secret/index.md
      -   Kinesis: clouds/aws/kinesis/index.md
    -  Azure:
      -   Blob / Storage: clouds/azure/storage/index.md
    -  Google Cloud:
      -   Cloud Storage: clouds/google/storage/index.md
      -   External Tables: clouds/google/external/index.md
      -   Fivetran Data Lake: clouds/google/fivetran/index.md
      -   Iceberg: clouds/google/iceberg/index.md
  
  - Ingestion:
    -  Openflow Deployment:
      -   Snowflake: ingestion/deployments/snowflake/index.md
      -   AWS: ingestion/deployments/aws/index.md
    -  Openflow Connectors: 
      -   API: ingestion/connectors/api/index.md 
      -   Box: ingestion/connectors/box/index.md 
      -   Google Sheet: ingestion/connectors/google_sheets/index.md
      -   Postgres: ingestion/connectors/postgres/index.md
      -   SFTP: ingestion/connectors/sftp/index.md
    -  Openflow Version Control:
      -   Github: ingestion/other/github/index.md
    -  Notebook:
      -   API: ingestion/notebook/api/index.md
      -   SFTP: ingestion/notebook/sftp/index.md


  - Engineering:
    -  Data Sharing:
      -   Direct: engineering/sharing/direct/index.md
      -   Listings: engineering/sharing/listing/index.md
  #   -  Reader Account: engineering/sharing/reader/index.md
  #   -  Marketplace: engineering/sharing/reader/index.md
    -  Functions:
      -   Chatgpt: engineering/functions/chatgpt/index.md
    -  Orchestration:
      -   Lineage: engineering/orchestration/task/index.md
    -  Parse:
      -   Document AI: engineering/parse/unstructured/index.md
    -  RBAC:
      -   Masking: engineering/rbac/masking/index.md
      -   Roles: engineering/rbac/roles/index.md

  - Security:
    -  Authentication:
      -   Key Pair: security/authentication/pair/index.md
    -  Code: 
      -   Python: security/code/python/index.md
    -  Network Policy:
      -   User: security/networking/user/index.md
    -  Single Sign On:
      -   Active Directory / Entra ID: security/sso/azure/index.md
      -   Google: security/sso/google/index.md
    -  SCIM Management:
      -   Azure: security/scim/azure/index.md
    
  - 3rd Party Tools:
    -  DBT: 
      -   Cloud: tools/dbt/setup/index.md
    -  Version Control:
      -   Github: tools/git/index.md
    -  Tableau:
      -   Key Pair: tools/tableau/key_pair/index.md
      -   OAuth: tools/tableau/oauth/index.md
    -  Zapier: tools/zapier/index.md

validation:
  nav:
    omitted_files: ignore   # Ignores "The following pages are not in the nav"
    absolute_links: ignore  # Ignores absolute links in nav
  links:
    absolute_links: ignore  # Ignores absolute links in content
  
markdown_extensions:
  - tables
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - abbr
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
  
  # Icons
  - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:material.extensions.emoji.to_svg

  # Content Tabs
  - pymdownx.tabbed:
      alternate_style: true 

# Plugins
plugins:
  - glightbox
  - typeset
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'

extra:
  analytics:
    provider: google
    property: G-2VSMCC57YV

